#text_8_115{top:-102px; left:554px; z-Index:82; width:180px; height:100px;position:absolute;}
.text_Style1 .mod-text-wrap {
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  overflow: hidden;
  width: 180px;
  height: 30px;
}
.text_Style1 .mod-text-wrap .mod-text {
  outline: 0;
  height: 30px;
  overflow: hidden;
  text-align: left;
  word-wrap: break-word;
}

#text_82_115{top:95px; left:679px; z-Index:88; width:140px; height:45px;position:absolute;}
#text_83_115{top:95px; left:561px; z-Index:82; width:93px; height:42px;position:absolute;}
#text_84_115{top:95px; left:450px; z-Index:82; width:81px; height:42px;position:absolute;}
#text_85_115{top:105px; left:287px; z-Index:82; width:133px; height:22px;position:absolute;}
#line_89_115{top:102px; left:425px; z-Index:94; width:20px; height:27px;position:absolute;}
.line_Style2 .mod-line-wrap {
  position: relative;
  width: 20px;
  height: 320px;
}
.line_Style2 .mod-line-wrap .mod-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  height: 100%;
  margin: 0;
  margin-left: -0.5px;
  border: 0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -webkit-box-shadow: 0px 0px 0px black;
  -moz-box-shadow: 0px 0px 0px black;
  box-shadow: 0px 0px 0px black;
}

#line_90_115{top:102px; left:536px; z-Index:88; width:20px; height:27px;position:absolute;}
#line_91_115{top:102px; left:655px; z-Index:88; width:20px; height:27px;position:absolute;}
#line_92_115{top:102px; left:824px; z-Index:88; width:20px; height:27px;position:absolute;}
#text_94_115{top:55px; left:527px; z-Index:99; width:211px; height:30px;position:absolute;}
#text_117_115{top:53px; left:940px; z-Index:117; width:128px; height:30px;position:absolute;}
#text_118_115{top:95px; left:929px; z-Index:88; width:140px; height:45px;position:absolute;}
#text_119_115{top:95px; left:834px; z-Index:82; width:93px; height:42px;position:absolute;}
#line_120_115{top:102px; left:920px; z-Index:88; width:20px; height:27px;position:absolute;}
#fullcolumn_98_115{top:0px; left:-401px; z-Index:16; width:1868px; height:140px;position:absolute;}
.fullcolumn_Style1 .mod-fullcolumn-wrap {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 960px;
  height: 100px;
}
.fullcolumn_Style1 .mod-fullcolumn-wrap .mod-fullcolumn {
  zoom: 1;
  width: 960px;
  height: 100px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #dddddd;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #dddddd;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #dddddd;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #dddddd;
  background-position-x: 0;
  background-position-y: 0;
  background-color: #eeeeee;
  background-image: none;
  background-repeat: repeat;
  background-position: center;
  background-attachment: scroll;
  -webkit-box-shadow: 0px 0px 0px #999999;
  -moz-box-shadow: 0px 0px 0px #999999;
  box-shadow: 0px 0px 0px #999999;
  background: linear-gradient(to bottom, none 0%, none 100%);
  background: -moz-linear-gradient(top, none 0%, none 100%);
  background: -webkit-linear-gradient(top, none 0%, none 100%);
  background: -o-linear-gradient(top, none 0%, none 100%);
  background: -ms-linear-gradient(top, none 0%, none 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 );
  text-align: center;
}
.fullcolumn_Style1 .mod-fullcolumn-wrap .mod-fullcolumn .mod-fullcolumn-inner {
  margin: 0 auto;
  height: 100px;
  position: relative;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #dddddd;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #dddddd;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #dddddd;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #dddddd;
  background-position-x: 0;
  background-position-y: 0;
  background-color: transparent;
  background-image: none;
  background-repeat: repeat;
  background-position: center;
  background-attachment: scroll;
  -webkit-box-shadow: 0px 0px 0px #999999;
  -moz-box-shadow: 0px 0px 0px #999999;
  box-shadow: 0px 0px 0px #999999;
  background: linear-gradient(to bottom, none 0%, none 100%);
  background: -moz-linear-gradient(top, none 0%, none 100%);
  background: -webkit-linear-gradient(top, none 0%, none 100%);
  background: -o-linear-gradient(top, none 0%, none 100%);
  background: -ms-linear-gradient(top, none 0%, none 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 );
}

#text_95_115{top:55px; left:774px; z-Index:94; width:135px; height:30px;position:absolute;}
#totop_113_115{top:19px; left:1527px; z-Index:82; width:46px; height:53px;position:absolute;}
.totop_Style1 .mod-totop-wrap {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 120px;
  height: 35px;
}
.totop_Style1 .mod-totop-wrap a.mod-totop {
  display: block;
  margin: 0;
  padding: 0;
  width: 120px;
  height: 35px;
  line-height: 35px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border-width: 0;
  border-style: solid;
  border-color: transparent;
  background-position-x: 0;
  background-position-y: 0;
  background-color: #3f98da;
  background-image: none;
  background-repeat: repeat;
  background-position: center;
  background-attachment: scroll;
  background: linear-gradient(to bottom, none 0%, none 100%);
  background: -moz-linear-gradient(top, none 0%, none 100%);
  background: -webkit-linear-gradient(top, none 0%, none 100%);
  background: -o-linear-gradient(top, none 0%, none 100%);
  background: -ms-linear-gradient(top, none 0%, none 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 );
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
}
.totop_Style1 .mod-totop-wrap a.mod-totop .mod-totop-icon {
  display: inline-block;
  *display: inline;
  font-size: 14px;
}
.totop_Style1 .mod-totop-wrap a.mod-totop .mod-totop-icon .fa {
  *margint-top: 28%;
}
.totop_Style1 .mod-totop-wrap a.mod-totop .mod-totop-text {
  display: inline-block;
  *display: inline;
  font-size: 14px;
  font-family: SimSun;
  font-weight: normal;
  font-style: normal;
}
.totop_Style1 .mod-totop-wrap a.mod-totop .mod-totop-icon + .mod-totop-text {
  *display: inline;
  margin-right: 5px;
}
.totop_Style1 .mod-totop-wrap a.mod-totop:hover {
  border-color: transparent;
  background-position-x: 0;
  background-position-y: 0;
  background-color: #78b5e1;
  background-image: none;
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-attachment: scroll;
  background: linear-gradient(to bottom, none 0%, none 100%);
  background: -moz-linear-gradient(top, none 0%, none 100%);
  background: -webkit-linear-gradient(top, none 0%, none 100%);
  background: -o-linear-gradient(top, none 0%, none 100%);
  background: -ms-linear-gradient(top, none 0%, none 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 );
  text-decoration: none;
  color: white;
}
.totop_Style1 .mod-totop-wrap a.mod-totop:hover .mod-totop-icon {
  text-decoration: none !important;
}
.totop_Style1 .mod-totop-wrap a.mod-totop:hover .mod-totop-text {
  font-weight: normal;
  font-style: normal;
}

#image_109_115{top:52px; left:0px; z-Index:110; width:186px; height:64px;position:absolute;}
.image_Style1 .mod-image-wrap {
  width: 150px;
  height: 150px;
}
.image_Style1 .mod-image-wrap .mod-image {
  position: relative;
  display: block;
  margin: 0;
  padding: 0px;
  width: 150px;
  height: 150px;
  border-width: 0px;
  border-style: solid;
  border-color: #cccccc;
  border-radius: 0px;
  background-position-x: 0;
  background-position-y: 0;
  background-color: none;
  background-image: none;
  background-repeat: repeat;
  background-position: center;
  background-attachment: scroll;
  background: linear-gradient(to bottom, none 0%, none 100%);
  background: -moz-linear-gradient(top, none 0%, none 100%);
  background: -webkit-linear-gradient(top, none 0%, none 100%);
  background: -o-linear-gradient(top, none 0%, none 100%);
  background: -ms-linear-gradient(top, none 0%, none 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 );
  -webkit-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
}
.image_Style1 .mod-image-wrap .mod-image .mod-image-img {
  width: 150px;
  height: 150px;
  overflow: hidden;
  text-align: left;
}
.image_Style1 .mod-image-wrap .mod-image .mod-image-img img {
  border: 0;
  float: left;
  border-radius: 0px;
}
.image_Style1 .mod-image-wrap .mod-image .mod-image-mark {
  display: none;
}
.image_Style1 .mod-image-wrap .mod-image:hover .mark-hide {
  display: none !important;
  height: 0 !important;
}
.image_Style1 .mod-image-wrap .mod-image:hover .mod-image-mark {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 1;
  display: block;
  margin: 0;
  border-radius: 0px;
  background-position-x: 0;
  background-position-y: 0;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: none;
  background-repeat: repeat;
  background-position: center;
  background-attachment: scroll;
  background: linear-gradient(to bottom, none 0%, none 100%);
  background: -moz-linear-gradient(top, none 0%, none 100%);
  background: -webkit-linear-gradient(top, none 0%, none 100%);
  background: -o-linear-gradient(top, none 0%, none 100%);
  background: -ms-linear-gradient(top, none 0%, none 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 );
  text-align: center;
  vertical-align: middle;
  font-family: Microsoft YaHei;
  font-size: 14px;
  color: white;
}
.image_Style1 .mod-image-wrap .mod-image:hover .mod-image-mark .mod-image-pack {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: 0px;
  text-align: center;
}
.image_Style1 .mod-image-wrap .mod-image:hover .mod-image-mark .mod-image-pack .mod-image-icon {
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  font-size: 28px;
}
.image_Style1 .mod-image-wrap .mod-image:hover .mod-image-mark .mod-image-pack .mod-image-icon .fa {
  font-size: 28px !important;
}
.image_Style1 .mod-image-wrap .mod-image:hover .mod-image-mark .mod-image-pack .mod-image-title {
  clear: both;
  padding: 0 10px;
  width: 150px;
  line-height: 30px;
  height: 30px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
  white-space: nowrap;
}

.page-wrap .page-inner .page-header {  z-index: 40002; margin: 0 auto; padding: 0; position:relative;width: 1069px;height: 167px;background-color: #ffffff;background-image: none;background-repeat: repeat;background-position: 0px 0px;background-attachment: fixed;}
#slider_10_173{top:0px; left:-401px; z-Index:10; width:1316px; height:410px;position:absolute;}
.slider_Style2 .mod-slider-wrap {
  height: 360px;
}
.slider_Style2 .mod-slider-wrap .mod-slider {
  position: static !important;
  height: 360px;
}
.slider_Style2 .mod-slider-wrap .mod-slider .mod-slider-image-group {
  height: 100%;
  position: static !important;
}
.slider_Style2 .mod-slider-wrap .mod-slider .mod-slider-image-group .mod-slider-image-list {
  display: block;
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;
}
.slider_Style2 .mod-slider-wrap .mod-slider .mod-slider-image-group .mod-slider-image-list .mod-slider-image-item {
  zoom: 1;
  vertical-align: middle;
  text-align: center;
  height: 100%;
}
.slider_Style2 .mod-slider-wrap .mod-slider .mod-slider-image-group .mod-slider-image-list .mod-slider-image-item.relative {
  position: relative;
}
.slider_Style2 .mod-slider-wrap .mod-slider .mod-slider-image-group .mod-slider-image-list .mod-slider-image-item a.item {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 1;
}
.slider_Style2 .mod-slider-wrap .mod-slider .mod-slider-image-group .mod-slider-image-list .mod-slider-image-item .mod-slider-inner {
  margin: 0 auto;
  height: 100%;
  position: relative;
}
.slider_Style2 .mod-slider-wrap .mod-slider .mod-slider-pager {
  position: absolute;
  top: 50%;
  z-index: 1;
  display: block;
  margin-top: -20px;
  width: 32px;
  height: 40px;
  line-height: 40px;
  filter: alpha(opacity=50);
  opacity: 0.5;
  text-align: center;
  font-size: 28px;
  color: white;
  text-decoration: none;
}
.slider_Style2 .mod-slider-wrap .mod-slider .mod-slider-pager .fa {
  font-size: 42px;
}
.slider_Style2 .mod-slider-wrap .mod-slider .mod-slider-pager.prev {
  left: 10px;
}
.slider_Style2 .mod-slider-wrap .mod-slider .mod-slider-pager.next {
  right: 10px;
}
.slider_Style2 .mod-slider-wrap .mod-slider .mod-slider-pager:hover {
  filter: alpha(opacity=100);
  opacity: 1;
}
.slider_Style2 .mod-slider-wrap .mod-slider .mod-slider-num {
  position: absolute;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 1;
  height: 15px;
}
.slider_Style2 .mod-slider-wrap .mod-slider .mod-slider-num ul {
  float: center;
  display: block;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  zoom: 1;
}
.slider_Style2 .mod-slider-wrap .mod-slider .mod-slider-num ul li {
  float: left;
  display: block;
  margin-left: 5px;
  padding: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  color: white;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}
.slider_Style2 .mod-slider-wrap .mod-slider .mod-slider-num ul li .fa {
  font-size: 14px;
}
.slider_Style2 .mod-slider-wrap .mod-slider .mod-slider-num ul li.on {
  color: #ff9900;
}
.slider_Style2 .mod-slider-wrap .mod-slider .mod-slider-num ul li:first-child {
  margin-left: 0;
}

#image_11_173{top:443px; left:0px; z-Index:11; width:517px; height:312px;position:absolute;}
#image_12_173{top:442px; left:551px; z-Index:11; width:517px; height:314px;position:absolute;}
#box_13_173{top:771px; left:0px; z-Index:13; width:1068px; height:51px;position:absolute;}
.box_Style1 .mod-box-wrap {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 200px;
  height: 200px;
}
.box_Style1 .mod-box-wrap .mod-box {
  width: 200px;
  height: 200px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #dddddd;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #dddddd;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #dddddd;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #dddddd;
  background-position-x: 0;
  background-position-y: 0;
  background-color: none;
  background-image: none;
  background-repeat: repeat;
  background-position: center;
  background-attachment: scroll;
  -webkit-box-shadow: 0px 0px 0px #999999;
  -moz-box-shadow: 0px 0px 0px #999999;
  box-shadow: 0px 0px 0px #999999;
  background: linear-gradient(to bottom, none 0%, none 100%);
  background: -moz-linear-gradient(top, none 0%, none 100%);
  background: -webkit-linear-gradient(top, none 0%, none 100%);
  background: -o-linear-gradient(top, none 0%, none 100%);
  background: -ms-linear-gradient(top, none 0%, none 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 );
}

#slider_23_173{top:306px; left:-401px; z-Index:23; width:1870px; height:104px;position:absolute;}
.page-wrap .page-inner .page-body { position: relative; z-index: 40000; margin: 0 auto; padding: 0;width: 1068px;height: 827px;}
.body-bg{background-color: #ffffff;background-image:none ;background-repeat:Repeat;background-position: center;background-attachment: scroll;}
#image_100_115{top:38px; left:0px; z-Index:101; width:71px; height:70px;position:absolute;}
#text_102_115{top:109px; left:11px; z-Index:103; width:49px; height:20px;position:absolute;}
#text_103_115{top:53px; left:485px; z-Index:105; width:83px; height:19px;position:absolute;}
#text_106_115{top:92px; left:424px; z-Index:108; width:632px; height:30px;position:absolute;}
#image_101_115{top:38px; left:82px; z-Index:102; width:246px; height:84px;position:absolute;}
#fullcolumn_99_115{top:15px; left:-401px; z-Index:100; width:1868px; height:160px;position:absolute;}
#code_110_115{top:0px; left:136px; z-Index:112; width:58px; height:48px;position:absolute;}
.code_Style1 .mod-btn-wrap {
  width: 35px;
}
.code_Style1 .mod-btn-wrap a.mod-btn {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: block;
  margin: 0;
  padding: 0 10px;
  height: 38px;
  line-height: 38px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #dddddd;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #dddddd;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #dddddd;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #dddddd;
  background-color: #eeeeee;
  background-image: none;
  background-repeat: repeat;
  background-position: center;
  -webkit-box-shadow: 0px 0px 0px #999999;
  -moz-box-shadow: 0px 0px 0px #999999;
  box-shadow: 0px 0px 0px #999999;
  background: -webkit-gradient(linear, left top, left bottom, from(#00ffffff), to(#00ffffff));
  background-position-x: 0;
  background-position-y: 0;
  text-align: center;
  font-size: 0;
  color: #666666;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
  white-space: nowrap;
}
.code_Style1 .mod-btn-wrap a.mod-btn .mod-btn-icon {
  display: inline-block;
  *display: inline;
  margin-right: 10px;
  font-size: 14px;
}
.code_Style1 .mod-btn-wrap a.mod-btn .mod-btn-text {
  display: inline-block;
  *display: inline;
  font-family: SimSun;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
.code_Style1 .mod-btn-wrap a.mod-btn:hover {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  background-color: #666666;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#00ffffff), to(#00ffffff));
  background-position-x: 0;
  background-position-y: 0;
  color: white;
}
.code_Style1 .mod-btn-wrap a.mod-btn:hover .mod-btn-icon {
  text-decoration: none !important;
}
.code_Style1 .mod-btn-wrap a.mod-btn:hover .mod-btn-text {
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}

#code_112_115{top:17px; left:280px; z-Index:115; width:58px; height:48px;position:absolute;}
.page-wrap .page-inner .page-footer { margin: 0 auto; padding: 0; z-index: 25000; position:relative;width: 1069px;bottom:0;height: 175px;background-color: #ffffff;background-image: none;background-repeat: repeat;background-position: 0px 0px;background-attachment: fixed;}
#container_1_115{top:auto; left:auto; z-Index:2; position:absolute;}
.fullcolumn_99_115_Style1_customcss .mod-fullcolumn-wrap {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 1868px;
  height: 160px;
}
.fullcolumn_99_115_Style1_customcss .mod-fullcolumn-wrap .mod-fullcolumn {
  zoom: 1;
  width: 1868px;
  height: 160px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #dddddd;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #dddddd;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #dddddd;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #dddddd;
  background-position-x: 0;
  background-position-y: 0;
  background-color: #5d5d5d;
  background-image: none;
  background-repeat: repeat;
  background-position: center;
  background-attachment: scroll;
  -webkit-box-shadow: 0px 0px 0px #999999;
  -moz-box-shadow: 0px 0px 0px #999999;
  box-shadow: 0px 0px 0px #999999;
  background: linear-gradient(to bottom, none 0%, none 100%);
  background: -moz-linear-gradient(top, none 0%, none 100%);
  background: -webkit-linear-gradient(top, none 0%, none 100%);
  background: -o-linear-gradient(top, none 0%, none 100%);
  background: -ms-linear-gradient(top, none 0%, none 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 );
  text-align: center;
}
.fullcolumn_99_115_Style1_customcss .mod-fullcolumn-wrap .mod-fullcolumn .mod-fullcolumn-inner {
  margin: 0 auto;
  height: 160px;
  position: relative;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #dddddd;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #dddddd;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #dddddd;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #dddddd;
  background-position-x: 0;
  background-position-y: 0;
  background-color: transparent;
  background-image: none;
  background-repeat: repeat;
  background-position: center;
  background-attachment: scroll;
  -webkit-box-shadow: 0px 0px 0px #999999;
  -moz-box-shadow: 0px 0px 0px #999999;
  box-shadow: 0px 0px 0px #999999;
  background: linear-gradient(to bottom, none 0%, none 100%);
  background: -moz-linear-gradient(top, none 0%, none 100%);
  background: -webkit-linear-gradient(top, none 0%, none 100%);
  background: -o-linear-gradient(top, none 0%, none 100%);
  background: -ms-linear-gradient(top, none 0%, none 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 );
}

.image_101_115_Style1_customcss .mod-image-wrap {
  width: 246px;
  height: 84px;
}
.image_101_115_Style1_customcss .mod-image-wrap .mod-image {
  position: relative;
  display: block;
  margin: 0;
  padding: 0px;
  width: 246px;
  height: 84px;
  border-width: 0px;
  border-style: solid;
  border-color: #cccccc;
  border-radius: 0px;
  background-position-x: 0;
  background-position-y: 0;
  background-color: none;
  background-image: none;
  background-repeat: repeat;
  background-position: center;
  background-attachment: scroll;
  background: linear-gradient(to bottom, none 0%, none 100%);
  background: -moz-linear-gradient(top, none 0%, none 100%);
  background: -webkit-linear-gradient(top, none 0%, none 100%);
  background: -o-linear-gradient(top, none 0%, none 100%);
  background: -ms-linear-gradient(top, none 0%, none 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 );
  -webkit-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
}
.image_101_115_Style1_customcss .mod-image-wrap .mod-image .mod-image-img {
  width: 246px;
  height: 84px;
  overflow: hidden;
  text-align: left;
}
.image_101_115_Style1_customcss .mod-image-wrap .mod-image .mod-image-img img {
  border: 0;
  float: left;
  border-radius: 0px;
}
.image_101_115_Style1_customcss .mod-image-wrap .mod-image .mod-image-mark {
  display: none;
}
.image_101_115_Style1_customcss .mod-image-wrap .mod-image:hover .mark-hide {
  display: none !important;
  height: 0 !important;
}
.image_101_115_Style1_customcss .mod-image-wrap .mod-image:hover .mod-image-mark {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 1;
  display: block;
  margin: 0;
  border-radius: 0px;
  background-position-x: 0;
  background-position-y: 0;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: none;
  background-repeat: repeat;
  background-position: center;
  background-attachment: scroll;
  background: linear-gradient(to bottom, none 0%, none 100%);
  background: -moz-linear-gradient(top, none 0%, none 100%);
  background: -webkit-linear-gradient(top, none 0%, none 100%);
  background: -o-linear-gradient(top, none 0%, none 100%);
  background: -ms-linear-gradient(top, none 0%, none 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 );
  text-align: center;
  vertical-align: middle;
  font-family: Microsoft YaHei;
  font-size: 14px;
  color: white;
}
.image_101_115_Style1_customcss .mod-image-wrap .mod-image:hover .mod-image-mark .mod-image-pack {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: 0px;
  text-align: center;
}
.image_101_115_Style1_customcss .mod-image-wrap .mod-image:hover .mod-image-mark .mod-image-pack .mod-image-icon {
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  font-size: 28px;
}
.image_101_115_Style1_customcss .mod-image-wrap .mod-image:hover .mod-image-mark .mod-image-pack .mod-image-icon .fa {
  font-size: 28px !important;
}
.image_101_115_Style1_customcss .mod-image-wrap .mod-image:hover .mod-image-mark .mod-image-pack .mod-image-title {
  clear: both;
  padding: 0 10px;
  width: 246px;
  line-height: 30px;
  height: 30px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
  white-space: nowrap;
}

.text_106_115_Style1_customcss .mod-text-wrap {
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  overflow: hidden;
  width: 632px;
  height: 30px;
}
.text_106_115_Style1_customcss .mod-text-wrap .mod-text {
  outline: 0;
  height: 30px;
  overflow: hidden;
  text-align: left;
  word-break: break-all;
  word-wrap: break-word;
}

.text_103_115_Style1_customcss .mod-text-wrap {
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  overflow: hidden;
  width: 83px;
  height: 19px;
}
.text_103_115_Style1_customcss .mod-text-wrap .mod-text {
  outline: 0;
  height: 19px;
  overflow: hidden;
  text-align: left;
  word-break: break-all;
  word-wrap: break-word;
}

.text_102_115_Style1_customcss .mod-text-wrap {
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  overflow: hidden;
  width: 49px;
  height: 20px;
}
.text_102_115_Style1_customcss .mod-text-wrap .mod-text {
  outline: 0;
  height: 20px;
  overflow: hidden;
  text-align: left;
  word-break: break-all;
  word-wrap: break-word;
}

.image_100_115_Style1_customcss .mod-image-wrap {
  width: 71px;
  height: 70px;
}
.image_100_115_Style1_customcss .mod-image-wrap .mod-image {
  position: relative;
  display: block;
  margin: 0;
  padding: 0px;
  width: 71px;
  height: 70px;
  border-width: 0px;
  border-style: solid;
  border-color: #cccccc;
  border-radius: 0px;
  background-position-x: 0;
  background-position-y: 0;
  background-color: none;
  background-image: none;
  background-repeat: repeat;
  background-position: center;
  background-attachment: scroll;
  background: linear-gradient(to bottom, none 0%, none 100%);
  background: -moz-linear-gradient(top, none 0%, none 100%);
  background: -webkit-linear-gradient(top, none 0%, none 100%);
  background: -o-linear-gradient(top, none 0%, none 100%);
  background: -ms-linear-gradient(top, none 0%, none 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 );
  -webkit-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
}
.image_100_115_Style1_customcss .mod-image-wrap .mod-image .mod-image-img {
  width: 71px;
  height: 70px;
  overflow: hidden;
  text-align: left;
}
.image_100_115_Style1_customcss .mod-image-wrap .mod-image .mod-image-img img {
  border: 0;
  float: left;
  border-radius: 0px;
}
.image_100_115_Style1_customcss .mod-image-wrap .mod-image .mod-image-mark {
  display: none;
}
.image_100_115_Style1_customcss .mod-image-wrap .mod-image:hover .mark-hide {
  display: none !important;
  height: 0 !important;
}
.image_100_115_Style1_customcss .mod-image-wrap .mod-image:hover .mod-image-mark {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 1;
  display: block;
  margin: 0;
  border-radius: 0px;
  background-position-x: 0;
  background-position-y: 0;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: none;
  background-repeat: repeat;
  background-position: center;
  background-attachment: scroll;
  background: linear-gradient(to bottom, none 0%, none 100%);
  background: -moz-linear-gradient(top, none 0%, none 100%);
  background: -webkit-linear-gradient(top, none 0%, none 100%);
  background: -o-linear-gradient(top, none 0%, none 100%);
  background: -ms-linear-gradient(top, none 0%, none 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 );
  text-align: center;
  vertical-align: middle;
  font-family: Microsoft YaHei;
  font-size: 14px;
  color: white;
}
.image_100_115_Style1_customcss .mod-image-wrap .mod-image:hover .mod-image-mark .mod-image-pack {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: 0px;
  text-align: center;
}
.image_100_115_Style1_customcss .mod-image-wrap .mod-image:hover .mod-image-mark .mod-image-pack .mod-image-icon {
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  font-size: 28px;
}
.image_100_115_Style1_customcss .mod-image-wrap .mod-image:hover .mod-image-mark .mod-image-pack .mod-image-icon .fa {
  font-size: 28px !important;
}
.image_100_115_Style1_customcss .mod-image-wrap .mod-image:hover .mod-image-mark .mod-image-pack .mod-image-title {
  clear: both;
  padding: 0 10px;
  width: 71px;
  line-height: 30px;
  height: 30px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
  white-space: nowrap;
}

.mod-slider-wrap {
  height: 104px;
}
.mod-slider-wrap .mod-slider {
  position: relative;
  height: 104px;
  overflow: hidden;
}
.mod-slider-wrap .mod-slider .mod-slider-image-group {
  position: relative;
  z-index: 0;
  height: 100%;
}
.mod-slider-wrap .mod-slider .mod-slider-image-group .mod-slider-image-list {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}
.mod-slider-wrap .mod-slider .mod-slider-image-group .mod-slider-image-list .mod-slider-image-item {
  zoom: 1;
  vertical-align: middle;
  text-align: center;
}
.mod-slider-wrap .mod-slider .mod-slider-image-group .mod-slider-image-list .mod-slider-image-item a {
  overflow: hidden;
  display: block;
}
.mod-slider-wrap .mod-slider .mod-slider-pager {
  position: absolute;
  top: 50%;
  display: block;
  margin-top: -20px;
  width: 32px;
  height: 40px;
  line-height: 40px;
  filter: alpha(opacity=50);
  opacity: 0.5;
  text-align: center;
  font-size: 28px;
  color: white;
  text-decoration: none;
}
.mod-slider-wrap .mod-slider .mod-slider-pager .fa {
  font-size: 42px;
}
.mod-slider-wrap .mod-slider .mod-slider-pager.prev {
  left: 10px;
}
.mod-slider-wrap .mod-slider .mod-slider-pager.next {
  right: 10px;
}
.mod-slider-wrap .mod-slider .mod-slider-pager:hover {
  filter: alpha(opacity=100);
  opacity: 1;
}
.mod-slider-wrap .mod-slider .mod-slider-num {
  position: absolute;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 1;
  height: 15px;
}
.mod-slider-wrap .mod-slider .mod-slider-num ul {
  float: center;
  display: block;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  zoom: 1;
}
.mod-slider-wrap .mod-slider .mod-slider-num ul li {
  float: left;
  display: block;
  margin-left: 5px;
  padding: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  color: white;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}
.mod-slider-wrap .mod-slider .mod-slider-num ul li .fa {
  font-size: 14px;
}
.mod-slider-wrap .mod-slider .mod-slider-num ul li.on {
  color: #ff9900;
}
.mod-slider-wrap .mod-slider .mod-slider-num ul li:first-child {
  margin-left: 0;
}

.box_13_173_Style1_customcss .mod-box-wrap {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 1068px;
  height: 51px;
}
.box_13_173_Style1_customcss .mod-box-wrap .mod-box {
  width: 1068px;
  height: 51px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #bfbfbf;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #dddddd;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #dddddd;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #dddddd;
  background-position-x: 0;
  background-position-y: 0;
  background-color: none;
  background-image: none;
  background-repeat: repeat;
  background-position: center;
  background-attachment: scroll;
  -webkit-box-shadow: 0px 0px 0px #999999;
  -moz-box-shadow: 0px 0px 0px #999999;
  box-shadow: 0px 0px 0px #999999;
  background: linear-gradient(to bottom, #f2f2f2 0%, white 100%);
  background: -moz-linear-gradient(top, #f2f2f2 0%, white 100%);
  background: -webkit-linear-gradient(top, #f2f2f2 0%, white 100%);
  background: -o-linear-gradient(top, #f2f2f2 0%, white 100%);
  background: -ms-linear-gradient(top, #f2f2f2 0%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='white',GradientType=0 );
}

.image_12_173_Style1_customcss .mod-image-wrap {
  width: 517px;
  height: 314px;
}
.image_12_173_Style1_customcss .mod-image-wrap .mod-image {
  position: relative;
  display: block;
  margin: 0;
  padding: 0px;
  width: 517px;
  height: 314px;
  border-width: 0px;
  border-style: solid;
  border-color: #cccccc;
  border-radius: 0px;
  background-position-x: 0;
  background-position-y: 0;
  background-color: none;
  background-image: none;
  background-repeat: repeat;
  background-position: center;
  background-attachment: scroll;
  background: linear-gradient(to bottom, none 0%, none 100%);
  background: -moz-linear-gradient(top, none 0%, none 100%);
  background: -webkit-linear-gradient(top, none 0%, none 100%);
  background: -o-linear-gradient(top, none 0%, none 100%);
  background: -ms-linear-gradient(top, none 0%, none 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 );
  -webkit-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
}
.image_12_173_Style1_customcss .mod-image-wrap .mod-image .mod-image-img {
  width: 517px;
  height: 314px;
  overflow: hidden;
  text-align: left;
}
.image_12_173_Style1_customcss .mod-image-wrap .mod-image .mod-image-img img {
  border: 0;
  float: left;
  border-radius: 0px;
}
.image_12_173_Style1_customcss .mod-image-wrap .mod-image .mod-image-mark {
  display: none;
}
.image_12_173_Style1_customcss .mod-image-wrap .mod-image:hover .mark-hide {
  display: none !important;
  height: 0 !important;
}
.image_12_173_Style1_customcss .mod-image-wrap .mod-image:hover .mod-image-mark {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 1;
  display: block;
  margin: 0;
  border-radius: 0px;
  background-position-x: 0;
  background-position-y: 0;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: none;
  background-repeat: repeat;
  background-position: center;
  background-attachment: scroll;
  background: linear-gradient(to bottom, none 0%, none 100%);
  background: -moz-linear-gradient(top, none 0%, none 100%);
  background: -webkit-linear-gradient(top, none 0%, none 100%);
  background: -o-linear-gradient(top, none 0%, none 100%);
  background: -ms-linear-gradient(top, none 0%, none 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 );
  text-align: center;
  vertical-align: middle;
  font-family: Microsoft YaHei;
  font-size: 14px;
  color: white;
}
.image_12_173_Style1_customcss .mod-image-wrap .mod-image:hover .mod-image-mark .mod-image-pack {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: 0px;
  text-align: center;
}
.image_12_173_Style1_customcss .mod-image-wrap .mod-image:hover .mod-image-mark .mod-image-pack .mod-image-icon {
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  font-size: 28px;
}
.image_12_173_Style1_customcss .mod-image-wrap .mod-image:hover .mod-image-mark .mod-image-pack .mod-image-icon .fa {
  font-size: 28px !important;
}
.image_12_173_Style1_customcss .mod-image-wrap .mod-image:hover .mod-image-mark .mod-image-pack .mod-image-title {
  clear: both;
  padding: 0 10px;
  width: 517px;
  line-height: 30px;
  height: 30px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
  white-space: nowrap;
}

.image_11_173_Style1_customcss .mod-image-wrap {
  width: 517px;
  height: 312px;
}
.image_11_173_Style1_customcss .mod-image-wrap .mod-image {
  position: relative;
  display: block;
  margin: 0;
  padding: 0px;
  width: 517px;
  height: 312px;
  border-width: 0px;
  border-style: solid;
  border-color: #cccccc;
  border-radius: 0px;
  background-position-x: 0;
  background-position-y: 0;
  background-color: none;
  background-image: none;
  background-repeat: repeat;
  background-position: center;
  background-attachment: scroll;
  background: linear-gradient(to bottom, none 0%, none 100%);
  background: -moz-linear-gradient(top, none 0%, none 100%);
  background: -webkit-linear-gradient(top, none 0%, none 100%);
  background: -o-linear-gradient(top, none 0%, none 100%);
  background: -ms-linear-gradient(top, none 0%, none 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 );
  -webkit-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
}
.image_11_173_Style1_customcss .mod-image-wrap .mod-image .mod-image-img {
  width: 517px;
  height: 312px;
  overflow: hidden;
  text-align: left;
}
.image_11_173_Style1_customcss .mod-image-wrap .mod-image .mod-image-img img {
  border: 0;
  float: left;
  border-radius: 0px;
}
.image_11_173_Style1_customcss .mod-image-wrap .mod-image .mod-image-mark {
  display: none;
}
.image_11_173_Style1_customcss .mod-image-wrap .mod-image:hover .mark-hide {
  display: none !important;
  height: 0 !important;
}
.image_11_173_Style1_customcss .mod-image-wrap .mod-image:hover .mod-image-mark {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 1;
  display: block;
  margin: 0;
  border-radius: 0px;
  background-position-x: 0;
  background-position-y: 0;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: none;
  background-repeat: repeat;
  background-position: center;
  background-attachment: scroll;
  background: linear-gradient(to bottom, none 0%, none 100%);
  background: -moz-linear-gradient(top, none 0%, none 100%);
  background: -webkit-linear-gradient(top, none 0%, none 100%);
  background: -o-linear-gradient(top, none 0%, none 100%);
  background: -ms-linear-gradient(top, none 0%, none 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 );
  text-align: center;
  vertical-align: middle;
  font-family: Microsoft YaHei;
  font-size: 14px;
  color: white;
}
.image_11_173_Style1_customcss .mod-image-wrap .mod-image:hover .mod-image-mark .mod-image-pack {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: 0px;
  text-align: center;
}
.image_11_173_Style1_customcss .mod-image-wrap .mod-image:hover .mod-image-mark .mod-image-pack .mod-image-icon {
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  font-size: 28px;
}
.image_11_173_Style1_customcss .mod-image-wrap .mod-image:hover .mod-image-mark .mod-image-pack .mod-image-icon .fa {
  font-size: 28px !important;
}
.image_11_173_Style1_customcss .mod-image-wrap .mod-image:hover .mod-image-mark .mod-image-pack .mod-image-title {
  clear: both;
  padding: 0 10px;
  width: 517px;
  line-height: 30px;
  height: 30px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
  white-space: nowrap;
}

.mod-slider-wrap {
  height: 410px;
}
.mod-slider-wrap .mod-slider {
  position: relative;
  height: 410px;
  overflow: hidden;
}
.mod-slider-wrap .mod-slider .mod-slider-image-group {
  position: relative;
  z-index: 0;
  height: 100%;
}
.mod-slider-wrap .mod-slider .mod-slider-image-group .mod-slider-image-list {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}
.mod-slider-wrap .mod-slider .mod-slider-image-group .mod-slider-image-list .mod-slider-image-item {
  zoom: 1;
  vertical-align: middle;
  text-align: center;
}
.mod-slider-wrap .mod-slider .mod-slider-image-group .mod-slider-image-list .mod-slider-image-item a {
  overflow: hidden;
  display: block;
}
.mod-slider-wrap .mod-slider .mod-slider-pager {
  position: absolute;
  top: 50%;
  display: block;
  margin-top: -20px;
  width: 32px;
  height: 40px;
  line-height: 40px;
  filter: alpha(opacity=50);
  opacity: 0.5;
  text-align: center;
  font-size: 28px;
  color: white;
  text-decoration: none;
}
.mod-slider-wrap .mod-slider .mod-slider-pager .fa {
  font-size: 42px;
}
.mod-slider-wrap .mod-slider .mod-slider-pager.prev {
  left: 10px;
}
.mod-slider-wrap .mod-slider .mod-slider-pager.next {
  right: 10px;
}
.mod-slider-wrap .mod-slider .mod-slider-pager:hover {
  filter: alpha(opacity=100);
  opacity: 1;
}
.mod-slider-wrap .mod-slider .mod-slider-num {
  position: absolute;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 1;
  height: 15px;
}
.mod-slider-wrap .mod-slider .mod-slider-num ul {
  float: center;
  display: block;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  zoom: 1;
}
.mod-slider-wrap .mod-slider .mod-slider-num ul li {
  float: left;
  display: block;
  margin-left: 5px;
  padding: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  color: white;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}
.mod-slider-wrap .mod-slider .mod-slider-num ul li .fa {
  font-size: 14px;
}
.mod-slider-wrap .mod-slider .mod-slider-num ul li.on {
  color: #7fba24;
}
.mod-slider-wrap .mod-slider .mod-slider-num ul li:first-child {
  margin-left: 0;
}

.image_109_115_Style1_customcss .mod-image-wrap {
  width: 186px;
  height: 64px;
}
.image_109_115_Style1_customcss .mod-image-wrap .mod-image {
  position: relative;
  display: block;
  margin: 0;
  padding: 0px;
  width: 186px;
  height: 64px;
  border-width: 0px;
  border-style: solid;
  border-color: #cccccc;
  border-radius: 0px;
  background-position-x: 0;
  background-position-y: 0;
  background-color: none;
  background-image: none;
  background-repeat: repeat;
  background-position: center;
  background-attachment: scroll;
  background: linear-gradient(to bottom, none 0%, none 100%);
  background: -moz-linear-gradient(top, none 0%, none 100%);
  background: -webkit-linear-gradient(top, none 0%, none 100%);
  background: -o-linear-gradient(top, none 0%, none 100%);
  background: -ms-linear-gradient(top, none 0%, none 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 );
  -webkit-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
}
.image_109_115_Style1_customcss .mod-image-wrap .mod-image .mod-image-img {
  width: 186px;
  height: 64px;
  overflow: hidden;
  text-align: left;
}
.image_109_115_Style1_customcss .mod-image-wrap .mod-image .mod-image-img img {
  border: 0;
  float: left;
  border-radius: 0px;
}
.image_109_115_Style1_customcss .mod-image-wrap .mod-image .mod-image-mark {
  display: none;
}
.image_109_115_Style1_customcss .mod-image-wrap .mod-image:hover .mark-hide {
  display: none !important;
  height: 0 !important;
}
.image_109_115_Style1_customcss .mod-image-wrap .mod-image:hover .mod-image-mark {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 1;
  display: block;
  margin: 0;
  border-radius: 0px;
  background-position-x: 0;
  background-position-y: 0;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: none;
  background-repeat: repeat;
  background-position: center;
  background-attachment: scroll;
  background: linear-gradient(to bottom, none 0%, none 100%);
  background: -moz-linear-gradient(top, none 0%, none 100%);
  background: -webkit-linear-gradient(top, none 0%, none 100%);
  background: -o-linear-gradient(top, none 0%, none 100%);
  background: -ms-linear-gradient(top, none 0%, none 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 );
  text-align: center;
  vertical-align: middle;
  font-family: Microsoft YaHei;
  font-size: 14px;
  color: white;
}
.image_109_115_Style1_customcss .mod-image-wrap .mod-image:hover .mod-image-mark .mod-image-pack {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: 0px;
  text-align: center;
}
.image_109_115_Style1_customcss .mod-image-wrap .mod-image:hover .mod-image-mark .mod-image-pack .mod-image-icon {
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  font-size: 28px;
}
.image_109_115_Style1_customcss .mod-image-wrap .mod-image:hover .mod-image-mark .mod-image-pack .mod-image-icon .fa {
  font-size: 28px !important;
}
.image_109_115_Style1_customcss .mod-image-wrap .mod-image:hover .mod-image-mark .mod-image-pack .mod-image-title {
  clear: both;
  padding: 0 10px;
  width: 186px;
  line-height: 30px;
  height: 30px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
  white-space: nowrap;
}

.totop_113_115_Style1_customcss .mod-totop-wrap {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 46px;
  height: 53px;
}
.totop_113_115_Style1_customcss .mod-totop-wrap a.mod-totop {
  display: block;
  margin: 0;
  padding: 0;
  width: 46px;
  height: 53px;
  line-height: 53px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  border-width: 0;
  border-style: solid;
  border-color: transparent;
  background-position-x: 0;
  background-position-y: 0;
  background-color: #3f98da;
  background-image: url(../image/2016120722524932.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  background: linear-gradient(to bottom, none 0%, none 100%);
  background: -moz-linear-gradient(top, none 0%, none 100%);
  background: -webkit-linear-gradient(top, none 0%, none 100%);
  background: -o-linear-gradient(top, none 0%, none 100%);
  background: -ms-linear-gradient(top, none 0%, none 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 );
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
}
.totop_113_115_Style1_customcss .mod-totop-wrap a.mod-totop .mod-totop-icon {
  display: inline-block;
  *display: inline;
  font-size: 14px;
}
.totop_113_115_Style1_customcss .mod-totop-wrap a.mod-totop .mod-totop-icon .fa {
  *margint-top: 28%;
}
.totop_113_115_Style1_customcss .mod-totop-wrap a.mod-totop .mod-totop-text {
  display: inline-block;
  *display: inline;
  font-size: 14px;
  font-family: SimSun;
  font-weight: normal;
  font-style: normal;
}
.totop_113_115_Style1_customcss .mod-totop-wrap a.mod-totop .mod-totop-icon + .mod-totop-text {
  *display: inline;
  margin-right: 5px;
}
.totop_113_115_Style1_customcss .mod-totop-wrap a.mod-totop:hover {
  border-color: transparent;
  background-position-x: 0;
  background-position-y: 0;
  background-color: transparent;
  background-image: url(../image/2016120722524932.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  background: linear-gradient(to bottom, none 0%, none 100%);
  background: -moz-linear-gradient(top, none 0%, none 100%);
  background: -webkit-linear-gradient(top, none 0%, none 100%);
  background: -o-linear-gradient(top, none 0%, none 100%);
  background: -ms-linear-gradient(top, none 0%, none 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 );
  text-decoration: none;
  color: white;
}
.totop_113_115_Style1_customcss .mod-totop-wrap a.mod-totop:hover .mod-totop-icon {
  text-decoration: none !important;
}
.totop_113_115_Style1_customcss .mod-totop-wrap a.mod-totop:hover .mod-totop-text {
  font-weight: normal;
  font-style: normal;
}

.text_95_115_Style1_customcss .mod-text-wrap {
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  overflow: hidden;
  width: 135px;
  height: 30px;
}
.text_95_115_Style1_customcss .mod-text-wrap .mod-text {
  outline: 0;
  height: 30px;
  overflow: hidden;
  text-align: left;
  word-break: break-all;
  word-wrap: break-word;
}

.fullcolumn_98_115_Style1_customcss .mod-fullcolumn-wrap {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 1868px;
  height: 140px;
}
.fullcolumn_98_115_Style1_customcss .mod-fullcolumn-wrap .mod-fullcolumn {
  zoom: 1;
  width: 1868px;
  height: 140px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #dddddd;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #dddddd;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #a5a5a5;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #dddddd;
  background-position-x: 0;
  background-position-y: 0;
  background-color: transparent;
  background-image: none;
  background-repeat: repeat;
  background-position: center;
  background-attachment: scroll;
  -webkit-box-shadow: 0px 0px 0px #999999;
  -moz-box-shadow: 0px 0px 0px #999999;
  box-shadow: 0px 0px 0px #999999;
  background: linear-gradient(to bottom, none 0%, none 100%);
  background: -moz-linear-gradient(top, none 0%, none 100%);
  background: -webkit-linear-gradient(top, none 0%, none 100%);
  background: -o-linear-gradient(top, none 0%, none 100%);
  background: -ms-linear-gradient(top, none 0%, none 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 );
  text-align: center;
}
.fullcolumn_98_115_Style1_customcss .mod-fullcolumn-wrap .mod-fullcolumn .mod-fullcolumn-inner {
  margin: 0 auto;
  height: 139px;
  position: relative;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #dddddd;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #dddddd;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #dddddd;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #dddddd;
  background-position-x: 0;
  background-position-y: 0;
  background-color: transparent;
  background-image: none;
  background-repeat: repeat;
  background-position: center;
  background-attachment: scroll;
  -webkit-box-shadow: 0px 0px 0px #999999;
  -moz-box-shadow: 0px 0px 0px #999999;
  box-shadow: 0px 0px 0px #999999;
  background: linear-gradient(to bottom, none 0%, none 100%);
  background: -moz-linear-gradient(top, none 0%, none 100%);
  background: -webkit-linear-gradient(top, none 0%, none 100%);
  background: -o-linear-gradient(top, none 0%, none 100%);
  background: -ms-linear-gradient(top, none 0%, none 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 );
}

.line_120_115_Style2_customcss .mod-line-wrap {
  position: relative;
  width: 20px;
  height: 27px;
}
.line_120_115_Style2_customcss .mod-line-wrap .mod-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  height: 100%;
  margin: 0;
  margin-left: -0.5px;
  border: 0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #bfbfbf;
  -webkit-box-shadow: 0px 0px 0px black;
  -moz-box-shadow: 0px 0px 0px black;
  box-shadow: 0px 0px 0px black;
}

.text_119_115_Style1_customcss .mod-text-wrap {
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  overflow: hidden;
  width: 93px;
  height: 42px;
}
.text_119_115_Style1_customcss .mod-text-wrap .mod-text {
  outline: 0;
  height: 42px;
  overflow: hidden;
  text-align: left;
  word-break: break-all;
  word-wrap: break-word;
}

.text_118_115_Style1_customcss .mod-text-wrap {
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  overflow: hidden;
  width: 140px;
  height: 45px;
}
.text_118_115_Style1_customcss .mod-text-wrap .mod-text {
  outline: 0;
  height: 45px;
  overflow: hidden;
  text-align: left;
  word-break: break-all;
  word-wrap: break-word;
}

.text_117_115_Style1_customcss .mod-text-wrap {
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  overflow: hidden;
  width: 128px;
  height: 30px;
}
.text_117_115_Style1_customcss .mod-text-wrap .mod-text {
  outline: 0;
  height: 30px;
  overflow: hidden;
  text-align: left;
  word-break: break-all;
  word-wrap: break-word;
}

.text_94_115_Style1_customcss .mod-text-wrap {
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  overflow: hidden;
  width: 211px;
  height: 30px;
}
.text_94_115_Style1_customcss .mod-text-wrap .mod-text {
  outline: 0;
  height: 30px;
  overflow: hidden;
  text-align: left;
  word-break: break-all;
  word-wrap: break-word;
}

.line_92_115_Style2_customcss .mod-line-wrap {
  position: relative;
  width: 20px;
  height: 27px;
}
.line_92_115_Style2_customcss .mod-line-wrap .mod-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  height: 100%;
  margin: 0;
  margin-left: -0.5px;
  border: 0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #bfbfbf;
  -webkit-box-shadow: 0px 0px 0px black;
  -moz-box-shadow: 0px 0px 0px black;
  box-shadow: 0px 0px 0px black;
}

.line_91_115_Style2_customcss .mod-line-wrap {
  position: relative;
  width: 20px;
  height: 27px;
}
.line_91_115_Style2_customcss .mod-line-wrap .mod-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  height: 100%;
  margin: 0;
  margin-left: -0.5px;
  border: 0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #bfbfbf;
  -webkit-box-shadow: 0px 0px 0px black;
  -moz-box-shadow: 0px 0px 0px black;
  box-shadow: 0px 0px 0px black;
}

.line_90_115_Style2_customcss .mod-line-wrap {
  position: relative;
  width: 20px;
  height: 27px;
}
.line_90_115_Style2_customcss .mod-line-wrap .mod-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  height: 100%;
  margin: 0;
  margin-left: -0.5px;
  border: 0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #bfbfbf;
  -webkit-box-shadow: 0px 0px 0px black;
  -moz-box-shadow: 0px 0px 0px black;
  box-shadow: 0px 0px 0px black;
}

.line_89_115_Style2_customcss .mod-line-wrap {
  position: relative;
  width: 20px;
  height: 27px;
}
.line_89_115_Style2_customcss .mod-line-wrap .mod-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  height: 100%;
  margin: 0;
  margin-left: -0.5px;
  border: 0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #bfbfbf;
  -webkit-box-shadow: 0px 0px 0px black;
  -moz-box-shadow: 0px 0px 0px black;
  box-shadow: 0px 0px 0px black;
}

.text_85_115_Style1_customcss .mod-text-wrap {
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  overflow: hidden;
  width: 133px;
  height: 22px;
}
.text_85_115_Style1_customcss .mod-text-wrap .mod-text {
  outline: 0;
  height: 22px;
  overflow: hidden;
  text-align: left;
  word-break: break-all;
  word-wrap: break-word;
}

.text_84_115_Style1_customcss .mod-text-wrap {
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  overflow: hidden;
  width: 81px;
  height: 42px;
}
.text_84_115_Style1_customcss .mod-text-wrap .mod-text {
  outline: 0;
  height: 42px;
  overflow: hidden;
  text-align: left;
  word-break: break-all;
  word-wrap: break-word;
}

.text_83_115_Style1_customcss .mod-text-wrap {
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  overflow: hidden;
  width: 93px;
  height: 42px;
}
.text_83_115_Style1_customcss .mod-text-wrap .mod-text {
  outline: 0;
  height: 42px;
  overflow: hidden;
  text-align: left;
  word-break: break-all;
  word-wrap: break-word;
}

.text_82_115_Style1_customcss .mod-text-wrap {
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  overflow: hidden;
  width: 140px;
  height: 45px;
}
.text_82_115_Style1_customcss .mod-text-wrap .mod-text {
  outline: 0;
  height: 45px;
  overflow: hidden;
  text-align: left;
  word-break: break-all;
  word-wrap: break-word;
}