.bg-wrap{position:absolute;width:100%;top:44px;z-index:-111;}
.bg-wrap .bg{width:100%;background:url() no-repeat center top;}
.bg-wrap .one{height:496px;background-image: url(../image/bg-banner_1920-496.jpg);}
.bg-wrap .two{height:540px;background-image: url(../image/bg-banner_1920-540.jpg);}
.bg-wrap .three{height:541px;background-image: url(../image/bg-banner_1920-541.jpg);}


.container-wrap{width:100%;position:relative;}
.banner-content{width:1000px;margin:0 auto;position:relative;height:414px;}

.banner-content .title{position:absolute;background:url(../image/sprite.png) no-repeat left -490px;height:62px;width:220px;bottom:40px;left:25px;}
.info-content{width:1000px;margin:0 auto;position:relative;height:1081px;}

.mainBody {position:relative;margin-top:50px;padding:50px 0}
.mainBody:after{content:"";clear:both;display:block;width:100%;height:0;}
.mainBody .time-bar{position:absolute;width:4px;height:100%;top:0;background:#14E3EF;left:50%;margin-left:-2px;z-index: 3;}
.mainBody .time-bar:before,.mainBody .time-bar:after{content:"";height:36px;width:36px;position:absolute;background:url(../image/sprite.png) no-repeat -600px -300px;left:50%;margin-left:-17px;z-index: 0;z-index: -1;}
.mainBody .time-bar i{width:100%;height:100%;*height:931px;background:#14E3EF;position:relative;z-index: 3;display: block;box-shadow:0 0 10px rgba(20, 227, 239, 0.5)}
.mainBody .time-bar:before{top: -24px;}
.mainBody .time-bar:after{bottom: -24px;background-position:-600px -336px;}

.mainBody .explain{width:450px;}
.mainBody .explain.itemL{padding-right:50px;}
.mainBody .explain.itemR{padding-left:50px;}
.mainBody .Left{float:left;}
.mainBody .box{width:400px;padding:8px 25px;background:#3C95F9;border-radius:10px;min-height:110px;position:relative;z-index: 4;box-shadow:0 0 10px rgba(60, 149, 249, 0.75);}
.mainBody .box i{position:absolute;width: 18px;height: 23px;top:26px;}
.mainBody .box .ico{width:36px;height:17px;position:absolute;top:30px;background:url(../image/sprite.png) no-repeat -600px -394px;}
.mainBody .box dt{height:40px;line-height: 40px;border-bottom:1px dashed #fff;}
.mainBody .box dd{padding:10px 0}
.mainBody .box dd p{font-size:14px;color:#fff;line-height: 2;}
.mainBody .box .Right{float:right;}

.mainBody .explain.itemL .box .ico{right:-68px;}
.mainBody .explain.itemR .box .ico{left:-68px;}
.mainBody .explain.itemL .box i{right:-18px;background:url(../image/bg-left_18-23.png) no-repeat left top;}
.mainBody .explain.itemR .box i{left:-18px;background:url(../image/bg-right_18-23.png) no-repeat left top;}